html, body, md-content{
	background-color: #B6B9BD !important;
	color: #2F343C !important;
}

md-toolbar{
	background-color: #4D0000 !important;
}

.smallButt{
	min-width: 30px !important;
	max-width: 30px !important;
}

.glyphicon-picture{
	font-size: 30px !important;
}

.glyphicon-ok{
	font-size: 30px !important;
	color: #07D207 !important;
}

md-toast{
	font-size: 20px;
	position: fixed !important;
	background-color: #0d1c80 !important;
	color: #B6B9BD !important;
}


form {
    md-input-container {
      label {
        color: white;
      }
      &:not(.md-input-valid).md-input-focused {
        input,
        label {
          border-color: white;
          text-decoration: none;
          color: white;
        }
      }
      &:not(.md-input-invalid).md-input-has-value label {
        color: white;
      }
      label,
      input {
        color: white;
        text-decoration: white;
        border-color: white;
      }
    }
    label {
      button.md-button.md-raised[disabled] {
        background-color: rgb(154, 0, 0);
        color: white;
      }
    }
  }
