<md-content>
    <div layout="column" ng-show="global.status._id">
        <br>
        <div ng-show="!vm.showUpload && global.status._id" style="margin:auto;">
          <md-button ng-click="vm.upload();" class="BigButt">Click to upload a photo</md-button>
        </div>
        <div ng-show="vm.showUpload;" style="width:90%; margin:auto; border:1px solid black">
          <form ng-submit="vm.createPost()" ng-show="!vm.isEditing" layout-padding flex>
              <md-input-container layout="row">
                  <div>
                      <md-button type="button" ng-click="vm.pic()">Click to Upload an Image &nbsp; <div class="glyphicon glyphicon-picture"></div></md-button><div ng-show="vm.preview" class="glyphicon glyphicon-ok"></div>
                  </div>
              </md-input-container>

              <md-input-container flex >
                  <label>Enter Caption (optional) </label>
                  <input type="text" ng-model="vm.post.message" />
              </md-input-container>
              <md-button type="submit" flex>Submit</md-button>
              <md-button type="button" ng-click="vm.cancelUpload();">Cancel</md-button>
          </form>
        </div>
    </div>
    <br>
    <md-divider />
    <div ng-cloak layout layout="column" layout-align="center">
        <div layout="row" layout-wrap>
            <div ng-repeat="p in vm.posts" layout="column" class="md-padding" layout-align="center" flex-gt-md="33" flex-gt-sm="50" flex-sm="100">
                    <md-card>
                        <md-card-content  layout="column" layout-align="space-between" >
                            <div>
                                <img style="width:100%; height: 400px;" ui-sref="PostDetails({id: p._id})" ng-src='{{p.image}}' />
                                <p><strong>{{p.message}}</strong></p>
                                <p><i>Posted By: {{p.createdBy.username}}</i></p>
                            </div>
                            <div layout="row" ng-show="global.status._id == p.createdBy._id">
                                <md-button class="smallButt" ng-click="vm.upVote(p)"><span class="glyphicon glyphicon-triangle-top"></span></md-button>
                                <p>{{ p.rating }}</p>
                                <md-button class="smallButt" ng-click="vm.downVote(p)"><span class="glyphicon glyphicon-triangle-bottom"></span></md-button>
                                <span flex></span>
                                <div>
                                    <md-button class="smallButt" ng-click="vm.openHomeModal($event, p)"><span class="glyphicon glyphicon-edit"></span></md-button>
                                    <md-button class="smallButt" ng-click="vm.deletePost(p)"><span class="glyphicon glyphicon-trash"></span></md-button>
                                </div>
                            </div>
                            <div ng-show="global.status._id !== p.createdBy._id" layout="row" layout-align="center">
                                <md-button class="smallButt" ng-click="vm.upVote(p)"><span class="glyphicon glyphicon-triangle-top"></span></md-button>
                                <p>{{ p.rating }}</p>
                                <md-button class="smallButt" ng-click="vm.downVote(p)"><span class="glyphicon glyphicon-triangle-bottom"></span></md-button>
                            </div>
                        </md-card-content>
                    </md-card>
            </div>
        </div>
    </div>
