<h1 class="animated pulse">HOME</h1>
<md-content>
    <div layout="column" ng-show="global.status._id">
        <br>
        <form ng-submit="vm.createPost()" ng-show="!vm.isEditing" layout-padding flex>
            <md-input-container layout="row">
                <div>
                    <md-button type="button" ng-click="vm.pic()">Click to Upload an Image &nbsp; <span class="glyphicon glyphicon-picture"></span></md-button><span ng-show="vm.preview" class="glyphicon glyphicon-ok"></span>
                </div>
            </md-input-container>

            <md-input-container flex >
                <label>Enter Post Text (optional) </label>
                <input type="text" ng-model="vm.post.message" />
            </md-input-container>
            <md-button type="submit" flex>Submit</md-button>
        </form>
    </div>
    <md-divider />
    <div ng-cloak layout layout="column" layout-align="center">
        <md-list layout="row" layout-wrap>
            <md-list-item class="md-4-line" ng-repeat="p in vm.posts">
                <md-content class="md-padding" layout-align="center" >
                    <md-card>
                        <md-card-content flex="33" layout="column" layout-align="space-between" >
                            <div>
                                <img style="width:400px; height: 400px;" ui-sref="PostDetails({id: p._id})" ng-src='{{p.image}}' />
                                <p><strong>{{p.message}}</strong></p>
                                <p><i>Posted By: {{p.createdBy.username}}</i></p>
                            </div>
                            <div layout="row" ng-show="global.status._id == p.createdBy._id">
                                <md-button class="smallButt" ng-click="vm.upVote(p)"><span class="glyphicon glyphicon-triangle-top"></span></md-button>
                                <p>{{ p.rating }}</p>
                                <md-button class="smallButt" ng-click="vm.downVote(p)"><span class="glyphicon glyphicon-triangle-bottom"></span></md-button>
                                <span flex></span>
                                <div>
                                    <md-button class="smallButt" ng-click="vm.openHomeModal($event, p)"><span class="glyphicon glyphicon-edit"></span></md-button>
                                    <md-button class="smallButt" ng-click="vm.deletePost(p)"><span class="glyphicon glyphicon-trash"></span></md-button>
                                </div>
                            </div>
                            <div ng-show="global.status._id !== p.createdBy._id" layout="row" layout-align="center">
                                <md-button class="smallButt" ng-click="vm.upVote(p)"><span class="glyphicon glyphicon-triangle-top"></span></md-button>
                                <p>{{ p.rating }}</p>
                                <md-button class="smallButt" ng-click="vm.downVote(p)"><span class="glyphicon glyphicon-triangle-bottom"></span></md-button>
                            </div>
                        </md-card-content>
                    </md-card>

                </md-content>
            </md-list-item>
        </md-list>
    </div>
