<md-content layout layout-align="center" style="text-align:center !important;">
    <md-card layout-padding style="width: 75%;">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <form ng-submit="global.login()">
            <md-input-container>
                <label>Email</label>
                <input type="email" ng-model="global.user.email" />
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="global.user.password" />
            </md-input-container>
            <div layout layout-align="center">
                <md-button type="submit" class="md-raised md-warn">Submit</md-button>
            </div>
        </form>
    </md-card>
</md-content>
