<h1>Post</h1>
<div layout="column" ng-show="global.status._id">
    <br>
    <form ng-submit="vm.createComment()" ng-show="!vm.isEditingC" layout-padding flex>
        <md-input-container flex>
            <label>Comment</label>
            <input type="text" ng-model="vm.comment.message" />
        </md-input-container>
        <md-button type="submit" flex>Submit</md-button>
    </form>
    <form ng-submit="vm.updateComment()" ng-show="vm.isEditingC" layout-padding flex>
        <md-input-container>
            <label>Comment</label>
            <input type="text" ng-model="vm.newCommentObj.message" />
        </md-input-container>
        <md-button type="submit" flex>Submit</md-button>
    </form>
</div>

<!-- CARDS && LAYOUTS -->

<div ng-cloak layout layout="column" layout-align="center">
    <md-content class="md-padding" layout="row" layout-wrap layout-align="center">
        <div flex layout="row">
            <md-card style="height: 65vh;">
                <md-card-content layout="row" layout-align="space-between">
                    <div class="md-media-xl card-media">
                        <img ng-src='{{vm.post.image}}' />
                        <p><i>{{vm.post.message}}</i></p>
                    </div>
                </md-card-content>
            </md-card>

            <md-card style="height: 65vh;">
                <md-card-content style="overflow-y: auto;" layout="column">
                    <div ng-repeat="c in vm.post.comments">
                        <p> {{c.message}}</p>
                        <md-button ng-click="vm.startEditC(c);">EDIT</md-button>
                        <md-button ng-click="vm.deleteComment(c)">DELETE</md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>
