<div layout="column" ng-show="global.status._id">
    <br>
    <form ng-submit="vm.createComment()" ng-show="!vm.isEditingC" layout-padding flex>
        <md-input-container flex>
            <label>Comment</label>
            <input type="text" ng-model="vm.comment.message" />
        </md-input-container>
        <md-button type="submit" flex>Submit</md-button>
    </form>
</div>

<!-- CARDS && LAYOUTS -->

<div ng-cloak layout layout="column" layout-align="center">
    <md-content style="width: 100%;" class="md-padding" layout="row" layout-align="center">
        <div flex layout-align="center" layout="row">
            <md-card>
                <md-card-content layout="column" layout-align="space-between">

                        <img style="width: 400px; height: 400px;" ng-src='{{vm.post.image}}' />
                        <p><strong>{{vm.post.message}}</strong></p>

                </md-card-content>
            </md-card>

            <md-card style="height: 482px;" flex="50">
                <md-card-content style="overflow-y: auto;" layout="column">
                    <div ng-repeat="c in vm.post.comments">
                        <p> {{c.message}}</p>
                         <div layout >
                            <span flex></span>
                            <md-button ng-show="global.status._id == c.user" class="smallButt" ng-click="vm.openCommentModal($event, c)"><span class="glyphicon glyphicon-edit"></span></md-button>
                            <md-button ng-show="global.status._id == c.user || global.status._id == vm.post.createdBy" class="smallButt" ng-click="vm.deleteComment(c)"><span class="glyphicon glyphicon-trash"></span></md-button>                        
                        </div>
                        <md-divider>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>
