<h1 class="animated pulse" ng-show="global.status._id">{{global.status.username}}'s Profile</h1>
<div ng-cloak layout layout="column">
    <div layout="row" layout-wrap layout-align="left" style="width:100%;">
        <div flex-gt-md="33" flex-gt-sm="50" flex-sm="100" ng-repeat="p in vm.posts" class="md-padding" layout-align="center">
            <md-card style="height: 480px; width: 360px;">
                <md-card-content layout="column" layout-align="space-between">
                    <div style="text-align:center;">
                        <img ui-sref="PostDetails({id: p._id})" style="width:100%; height: 350px;" ng-src='{{p.image}}' />
                        <p><strong>{{p.message}}</strong></p>
                        <p>Rating: {{ p.rating }}</p>
                    </div>
                    <div>
                        <md-button class="smallButt" ng-click="vm.openProfileModal($event, p)"><span class="glyphicon glyphicon-edit"></span></md-button>
                        <md-button class="smallButt" ng-click="vm.deletePost(p)"><span class="glyphicon glyphicon-trash"></span></md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
