<div ng-cloak layout layout="column" layout-align="center">
    <md-list layout="row" layout-wrap>
        <md-list-item class="md-4-line" ng-repeat="p in vm.posts">
            <md-content class="md-padding" layout-align="center">
                <md-card>
                    <md-card-content layout="column" layout-align="space-between">
                        <div>
                            <img style="width:400px; height: 400px;" ng-src='{{p.image}}' />
                            <p><i>{{p.message}}</i></p>
                            <p>{{ p.rating }} enjoyments</p>
                        </div>
                        <div>
                            <md-button class="smallButt" ng-click="vm.openProfileModal($event, p)"><span class="glyphicon glyphicon-edit"></span></md-button>
                            <md-button class="smallButt" ng-click="vm.deletePost(p)"><span class="glyphicon glyphicon-trash"></span></md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-list-item>
    </md-list>
</div>
