<h1 class="animated pulse" ng-show="global.status._id">{{global.status.username}}'s Profile</h1>
<div ng-cloak layout layout="column">
    <div layout="row" layout-wrap layout-align="center" >
        <div ng-repeat="p in vm.posts" class="md-padding" layout-align="center" style="width:400px;">
            <md-card flex-gt-md="33" flex-gt-sm="50" flex-sm="100" style="height: 580px; width: 410px;">
                <md-card-content layout="column" layout-align="space-between" style="display: block; margin: auto;">
                    <div>
                        <img ui-sref="PostDetails({id: p._id})" style="width:400px; height: 400px;" ng-src='{{p.image}}' />
                        <p><strong>{{p.message}}</strong></p>
                        <p>Rating: {{ p.rating }}</p>
                    </div>
                    <div>
                        <md-button class="smallButt" ng-click="vm.openProfileModal($event, p)"><div class="glyphicon glyphicon-edit"></div></md-button>
                        <md-button class="smallButt" ng-click="vm.deletePost(p)"><div class="glyphicon glyphicon-trash"></div></md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
